.button {
    -fx-focus-traversable: false;
    /*-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;*/
    /*-fx-border-style: solid 0px 1px;*/
}

.side-menu {
    -fx-border-color: #7a7a7a;
    -fx-border-width: 0 0.5 0.5 0;
}

.button:hover {
    -fx-background-color: linear-gradient(#a4ce82, #76ac63);
}

.title-padding {
    -fx-padding: 15px;
}

.title-bg {
    -fx-background-color: #F7F5F2;
}
