/* Default Style */
.button {
    -fx-focus-traversable: false;
}

.button:hover {
    -fx-font-size: 18px;
    /*-fx-background-color: linear-gradient(#a4ce82, #76ac63);*/
    -fx-background-color: #CEE5D0;
}


/* Menu Styles */
.side-menu {
    -fx-border-color: #7a7a7a;
    -fx-border-width: 1.5 0 0 0.5;
}

.menu-item {
    -fx-font-size: 16px;
    -fx-text-fill: #2d2d2d;
    -fx-background-color: #E7F6F2;
    -fx-border-color: #7a7a7a;
    -fx-border-width: 0 0.5 0.5 0;
}

.menu-item-active {
    /*-fx-background-color: #76BA99;*/
    -fx-background-color: #BDF2D5;
}

.menu-item-active:hover {
    -fx-font-size: 16px;
    -fx-background-color: #BDF2D5;
}


/* Title */
.title-padding {
    -fx-padding: 15px;
}

.title-bg {
    /*-fx-background-color: #F7F5F2;*/
    -fx-background-color: #EAF6F6;
}

.title-bar-buttons {
    -fx-border-width: 1px;
    -fx-background-size: 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}

.close {
    -fx-background-color: #ff5c5c;
    -fx-border-color: #e33e41;
    /*-fx-background-image: url("/img/exit.png");*/
}

.close:hover {
    -fx-background-color: #c14645;
    /*-fx-background-image: url("/img/minimize.png");*/
}

.minimize {
    -fx-background-color: #00cad7;
    -fx-border-color: #14aee6;
}

.minimize:hover {
    -fx-background-color: #2a9ad5;
}